<h1>EventsValera</h1>
<p></p>
<%= form_with url: '/valeras/event' do |f|%>
  <% @event_list.each do |event| %>
    <%= f.radio_button :id, event.id%> <%= f.label :id, event.name %></br>
  <% end %>
  <%= f.submit "Apply" %>
<% end %>

<%= button_to "Back to Stat", {controller: 'valeras', action: 'show' }, method: :get%>
