<h1>AbilityValera</h1>
<%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<%= form_with model: @valera, local: true do |f| %>
  <%= f.radio_button :skill, 'workoholic' %>
  <%= f.label :skill, "Workoholic", :value => "workoholic" %>
  <%= f.submit %>
<% end %>
