<h1>AbilityValera</h1>
<%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<p>
<br />
<%= radio_button_tag("ability", "@valera.skill", false) %> Трудоголик <br />
<%= radio_button_tag("ability", "@valera.skill", false) %> Сын маминой подруги <br />
<%= radio_button_tag("ability", "@valera.skill", false) %> Потомок дракона <br />
<%= radio_button_tag("ability", "@valera.skill", false) %> Народный целитель <br />
</p>
