<div class="container">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">#ValeraStatistic</h1>
  </div>
</div>
<p></p>


<ul class="list-group">
<% @valera.stats.each do |stat, value| %>
  <li class="list-group-item"> <%= stat %>: <%= value %> </li>
<% end %>
</ul>

<p></p>
<div class="btn-toolbar">
  <div class="btn-group mr-2"> <%= button_to "Show Items", { controller: 'items', action: 'show' }, method: :get, class: "btn btn-secondary" %></div>
  <div class="btn-group mr-2"> <%= button_to "Buy Item", { controller: 'items', action: 'new', id: @valera.id }, method: :get, class: "btn btn-secondary" %></div>
  <div class="btn-group"> <%= button_to "Events", { controller: 'events', action: 'new' }, method: :get, class: "btn btn-secondary" %></div>
</div>
<p></p>
<center><%= button_to 'Exit', destroy_user_session_path, class: "btn btn-dark", :method => :delete %></center>
</div>

