<div class="container">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">#ValeraStatistic</h1>
  </div>
</div>
<p></p>

<% @valera.stats.each do |stat, value| %>
  <li> <%= stat %>: <%= value %> </li>
<% end %>

<p></p>
<div class="row">
<%= button_to "Show Items", { controller: 'items', action: 'show' }, method: :get %>
<%= button_to "Buy Item", { controller: 'items', action: 'new', id: @valera.id }, method: :get %>
<%= button_to "Events", { controller: 'events', action: 'new' }, method: :get %>
</div>
</div>

<center><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></center>