<h1>StaticValera</h1>
<%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<p></p>

<% @valera.stats.each do |stat, value| %>
  <li> <%= stat %>: <%= value %> </li>
<% end %>

<p></p>
<%= button_to "Show Items", { controller: 'items', action: 'show' }, method: :get %>
<%= button_to "Buy Item", { controller: 'items', action: 'new', id: @valera.id }, method: :get %>
<%= button_to "Events", { controller: 'events', action: 'new' }, method: :get %>