<h1>BuyItem</h1>

<p></p>
<%= form_with url: '/valera/item' do |f| %>
  <% @item_list.each do |curr_item| %>
    <li> <%= f.radio_button :id, curr_item.id %> <%= f.label :id, curr_item.name %></li>
  <% end %>
  <%= f.submit %>
<% end %>
<%= button_to "Back to Stats", { controller: 'valeras', action: 'show' }, method: :get %>
