<div class="container">
<h1>#BuyItem</h1>

Money: <%= @valera.money %>
<p></p>
<%= form_with url: '/valera/item' do |f| %>
  <div class="form-group">
  <% @item_list.each do |curr_item| %>
    <div class="row">
    <div class="radio">
    <%= f.radio_button :id, curr_item.id %> <%= f.label :id, curr_item.name %>
    </div>
    <div class="col-sm-10">
      (
    <% curr_item.stats.each do |stat, value| %>
      <% if !value.nil? %>
        <%= stat%> : <%= value %>
      <% end %>
    <% end %>
    cost : <%= curr_item.money %>
    )
    </div>
    </div>
  <% end %>
  <%= f.submit "Buy" %>
  </div>
<% end %>
<%= button_to "Back to Stats", { controller: 'valeras', action: 'show' }, method: :get %>
</div>
