<div class="container">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">#ValeraItems</h1>
  </div>
</div>
<p></p>

<% if @valera.items.size == 0 %>
  <center><p> You didn't have items. Buy something </p></center>
<% else %>
  <% @valera.items.each do |item| %>
    <ul class="row">
    <h5> <%= item.name %> </h5>
    <div align="center" class="list-group col-sm-offset-3 col-sm-3">
      <% item.stats.each do |stat, value| %>
        <% if !value.nil? %>
          <% if value > 0 %>
            <%= stat %>: +<%= value %>
          <% else %>
            <%= stat %>: <%= value %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <center><div class="btn btn-secondary btn-sm"> <%= button_to "Use", { controller: 'items', action: 'destroy', item_id: item.id }, method: :delete, class: "btn btn-secondary" %></div></center>
    </ul>
  <% end %>
<% end %>

 <p></p>
 <center><%= button_to "Back to Stats", { controller: 'valeras', action: 'show' }, method: :get %></center>
</div>
