<!DOCTYPE html>
<html>
  <head>
    <title>ValeraGame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if !notice.nil? %>
      <p class="alert alert-success"><%=notice %></p>
    <% end %>
    <% if !alert.nil? %>
      <p class="alert alert-warning"><%=alert %></p>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
